<div class="discounts-container">
    <h1>Акції та знижки</h1>
    <div class="discounts-grid">
        <div class="discount-card">
            <h3>Знижка на новинки</h3>
            <p>Знижка 15% на всі нові надходження</p>
        </div>
        <div class="discount-card">
            <h3>Подарунок при купівлі</h3>
            <p>При купівлі від 2000 гривень - закладка у подарунок</p>
        </div>
    </div>
</div>